[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/tailwind-developer-website.git
[submodule "themes/tailwind-developer-website"]
	path = themes/tailwind-developer-website
	url = https://github.com/samrobbins85/tailwind-developer-website.git
